<!--Simulation Mode SLAM Launch -->
<launch>
	
	<node name="hokuyo_laser" pkg="hokuyo_node" type="hokuyo_node" respawn="false">
	    <!-- Set the port to connect to here -->
	    <param name="frame_id" type="string" value="laser"/> 
	    <param name="port" type="string" value="/dev/ttyACM0"/> 
	    
	    <remap from="scan" to="laser/scan"/>
    
	</node>
	
	
	<node name="crsm_slam_node" type="crsm_slam_node" pkg="crsm_slam" respawn="false" ns="crsm_slam" output="screen"/>
	<rosparam file="$(find crsm_slam)/config/crsm_slam/crsm_slam_parameters.yaml" command="load" ns="crsm_slam"/>
	
	<node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0  world map 100" />
</launch>
